/* theme color */
/* https://juejin.cn/post/7339475385762611210  */
:root {
  /* 即themeColor值 */
  --theme-color: #42b983;
}

html.dark {
  /* 深色主题色 */
  --theme-color: #ea6f5a;
}

/* toc */
.page_toc div[class^="lv"] a {
  font-weight: 400;
}

:root {
  --sidebar-nav-link-color--active: var(--theme-color);
}

html.dark {
  --sidebar-nav-link-color: #c8c8c8;
}

/* table dark */
html.dark .markdown-section tr:nth-child(2n) {
  background-color: #4f4f4f;
}

/* tabs */
html.dark {
  --docsifytabs-tab-background: #4f4f4f;
}

html.dark .docsify-tabs--classic>.docsify-tabs__tab--active {
  border-top: none;
}
